{% extends 'hms/base.html' %}
{% load static %}
{% block title %} HOME {% endblock title %}
    {% block body %}
    <div>
    <h3 align="center">SOME INFORMATION OF HELTH CENTER </h3>

    <p style="color:red;">
        A healthcare center, health center, or community health center is one of a network of clinics staffed by a group of general practitioners and nurses providing healthcare services to people in a certain area.</p>
    <p style="color:red;">
        A healthcare center, health center, or community health center is one of a network of clinics staffed by a group of general practitioners and nurses providing healthcare services to people in a certain area. Typical services covered are family practice and dental care, but some clinics have expanded greatly and can include internal medicine, pediatric, women’s care, family planning, pharmacy, optometry, laboratory testing, and more. In countries with universal healthcare, most people use the healthcare centers. In countries without universal healthcare, the clients include the uninsured, underinsured, low-income or those living in areas where little access to primary health care is available</p>
    </div>
        {% endblock body %}

